p {
    color: aqua;
    font-weight: 900;
}
.megaa-chenilleeee {
    color: blue;
    font-size: 16px;
}
.decaler {
    position: relative;
    left: -30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: yellow;
}
.box {
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.conteneur {
    position: relative;
    height: 300px;
    width: auto;
    background-color: #ececec;
    border: 1px solid black;
}
.une {
    background-color: green;
    left: 20px;
    top: 20px;
}
.deux {
    background-color: red;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.trois {
    background-color: yellow;
    right: 20px;
    bottom: 20px;
}
button:hover {
    background-color: rgba(227, 0, 235, 0,78);
    color: white;
}
button:active {
    background-color: darkblue;
    color: white;
}
a:visited {
    color: rgb(0, 255, 0);
}
input:focus {
    background-color: rgba(0, 0, 0, 0.3);
    border: 4px solid rgb(255, 0, 0);
    outline: none;
}
.conteneurend {
    display: flex;
    position: relative;
    background-color: rgb(98, 116, 98);
    height: 46px;
    padding-top: 10px;
    justify-content: space-between;
    align-items: start;
}
.mentions{
    display: flex;
    margin-left: 5px;
    margin-right: 30px;
}
.contact {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}
.wiki {
    display: flex;
    margin-left: 5px;
    margin-right: 30px;
}
.mail {
    display: flex;
    margin-left: 5px;
    margin-right: 30px;
}
.copyright {
    position: absolute;
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
.conteneurstart {
    display: flex;
    position: relative;
    background-color: yellow;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.index {
    display: flex;
    background-color: gray;
    height: 30px;
    width: 180px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: blue solid 3px;
}
.page1 {
    display: flex;
    background-color: gray;
    height: 30px;
    width: 180px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: blue solid 3px;
}
.page2 {
    display: flex;
    background-color: gray;
    height: 30px;
    width: 180px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: blue solid 3px;
}
.page3 {
    display: flex;
    background-color: gray;
    height: 30px;
    width: 180px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: blue solid 3px;
}
a {
    text-decoration: none;
}
body {
    flex-direction: column;
    display: flex;
    margin: 0px;
    align-items: center;
}
.couleur-vives {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}