p {
    color: aqua;
    font-weight: 900;
}
.megaa-chenilleeee {
    color: blue;
    font-size: 16px;
}
.decaler {
    position: relative;
    left: -30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: yellow;
}
.box {
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.conteneur {
    position: relative;
    height: 300px;
    width: 80%;
    background-color: #ececec;
    border: 1px solid black;
}
.une {
    background-color: green;
    left: 20px;
    top: 20px;
}
.deux {
    background-color: red;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.trois {
    background-color: yellow;
    right: 20px;
    bottom: 20px;
}
.button:hover {
    background-color: blue;
}
button:active {
    background-color: darkblue;
    color: white;
}
a:visited {
    color: rgb(255, 255, 255);
}
.conteneurend {
    display: flex;
    position: relative;
    background-color: rgb(98, 116, 98);
    height: 46px;
    width: 100%;
    padding-top: 10px;
    justify-content: center;
    align-items: start;
}
.mentions{
    display: flex;
    margin-left: 5px;
    margin-right: 30px;
}
.contact {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}
.wiki {
    display: flex;
    margin-left: 5px;
    margin-right: 30px;
}
.mail {
    display: flex;
    margin-left: 5px;
    margin-right: 30px;
}
.copyright {
    position: absolute;
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
.conteneurstart {
    display: flex;
    position: relative;
    background-color: rgb(240, 240, 168);
    height: 50px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.index {
    display: flex;
    background-color: gray;
    height: 30px;
    width: 180px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: blue solid 3px;
}
.page1 {
    display: flex;
    background-color: gray;
    height: 30px;
    width: 180px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: blue solid 3px;
}
.page2 {
    display: flex;
    background-color: gray;
    height: 30px;
    width: 180px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: blue solid 3px;
}
.page3 {
    display: flex;
    background-color: gray;
    height: 30px;
    width: 180px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: blue solid 3px;
}
.a {
    text-decoration: none;
}
body {
    flex-direction: column;
    display: flex;
    margin: 0px;
    align-items: center;
}
.conteneurimages {
    display: flex;
    flex-direction: row;
    background-color: rgb(250, 255, 240);
    height: 300px;
    width: 90%;
    padding: 10px;
    margin-bottom: 30px;
    align-items: center;
    border-radius: 10px;
    border: solid black 1px;
}
.urticante-image {
    height: 200px;
    width: 70%;
    margin: 0px;
}
.camouflage-image {
    height: 200px;
    width: 70%;
}
.couleur-vives-image {
    height: 250px;
    width: 200px;

}
.urticante-box {
    display: flex;
    position: relative;
    background-color: rgb(216, 226, 216);
    height: 200px;
    width: 90%;
    padding-left: 10px;
    align-items: center;
    border: black solid 1px;
}
.camouflage-box {
    display: flex;
    position: relative;
    background-color: rgb(216, 226, 216);
    height: 200px;
    width: 90%;
    padding-left: 10px;
    align-items: center;
    border: black solid 1px;
}
.couleur-vives-box {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(216, 226, 216);
    height: 100%;
    width: 100%;
    max-width: 200px;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    border: black solid 1px;
}
