.flex-container {
    background-color: rgb(214, 214, 214);
    border: 1px solid black;

    margin: 20px;
    padding: 20px;
    height: 550px;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-item {
    border-radius: 1px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.une {
    background-color: aquamarine;

    align-self: self-start;
}
.deux {
    background-color: rgb(136, 28, 245, 0.5);
}
.trois {
    background-color: aqua;

    align-self: flex-end;
}
body {
    flex-direction: column;
    display: flex;
    margin: 0px;
    align-items: center;
}
.conteneurstart {
    display: flex;
    position: relative;
    background-color: rgb(240, 240, 168);
    height: 50px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.index {
    display: flex;
    background-color: gray;
    height: 30px;
    width: 180px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: blue solid 3px;
    color: white
}
.page1 {
    display: flex;
    background-color: gray;
    height: 30px;
    width: 180px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: blue solid 3px;
    color: white
}
.page2 {
    display: flex;
    background-color: gray;
    height: 30px;
    width: 180px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: blue solid 3px;
    color: white
}
.page3 {
    display: flex;
    background-color: gray;
    height: 30px;
    width: 180px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: blue solid 3px;
    color: white
}
.button:hover {
    background-color: blue;
}
.a {
    text-decoration: none;
}
body {
    margin: 0px;
    align-items: center;
}